body {
  margin: 0;
   font-family: 'Inter', sans-serif;
  background: linear-gradient(
    180deg,
    #0f172a 0%,
    #111827 40%,
    #0b1220 100%
  );
  color: #e5e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}